.catalog {
    padding-top: 64px;
    .row {
        margin-right: -35px;
        display: flex;
        flex-wrap: wrap;
    }

}

.catalog__item__wr {
    position: relative;
    font-family: 'Lato-Regular', sans-serif;
    width: 25%;
    box-sizing: border-box;
    padding-right: 35px;
    padding-bottom: 69px;
    margin-bottom: 33px;

    .catalog__item {
        position: relative;
        width: 100%;
        max-width: 440px;
        background-color: $element-color;
        box-sizing: border-box;
        padding: 30px 30px 109px 30px;
        border-radius: 20px;
        height: 100%;
        margin: 0 auto;
        .birka{
            position: absolute;
            top: 28px;
            left: 0;
            height: 40px;
            background-color: $active-color;
            box-sizing: border-box;
            padding: 0 18px;
            font-size: 22px;
            line-height: 40px;
            text-align: center;
            color: #fff;
        }
        .catalog__item__img {
            margin-bottom: 25px;
        }

        p {
            position: relative;
            font-family: 'MyriadPro-Regular', sans-serif;
            font-size: 20px;
            line-height: 24px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }

        .star-track {
            position: absolute;
            bottom: 65px;
        }

        .catalog__item__price {
            position: absolute;
            bottom: 21px;
            font-size: 30px;
            line-height: 30px;
        }

    }

    .catalog__link-box {
        position: absolute;
        overflow: hidden;
        bottom: -70px;
        left: 0; 
        width: 100%; 
        background-color: $active-color;
        box-sizing: border-box;
        height: 52px;
        font-size: 25px;
        padding-left: 15px;
        padding-right: 212px;
        color: #fff;
        line-height: 52px;
        text-align: center;
        border-radius: 25px;
        
        .amazon-link{
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: 194px;
            height: 100%;
            box-sizing: border-box;
            border-radius: 25px;
            border: 1px solid #EB4125;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(img/amazon.png);
            background-color: #fff;
            box-shadow: 2px 0 10px 3px #c8c9ca;
            cursor: pointer;
            transition: all 100ms;
            &:hover{
                box-shadow: 0px 0 0px 0px #c8c9ca;
            }
        }
    }
}
