.faq-page {
    #header {
        padding-bottom: 16px;

        .logo__box-large {
            margin-bottom: 45px;
        }

        .header-content {
            width: 100%;
        }
    }
}

.FAQ-box {
    max-width: 1290px;
    margin-bottom: 75px;

    .FAQ-item {
        box-sizing: border-box;
        padding-left: 98px;
        padding-top: 16px;
        margin-bottom: 44px;
        font-family: 'Lato-Regular', sans-serif;
        font-size: 18px;
        line-height: 25px;
        background-image: url(img/FAQ-icon.svg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 52px 52px;
    }

    .FAQ-item__caption {
        font-family: 'MyriadPro-Bold', sans-serif;
        font-size: 20px;

    }

    .FAQ-item__question {
        margin-bottom: 12px;
    }

    .btn {
        margin-top: 51px;
        max-width: 226px;
        display: block;
    }
}
