
.subfooter {
    height: 190px;
}

#footer {
    position: relative;
    overflow: hidden;
    height: 190px;
    margin-top: -190px;
    background-color: #707070;
    box-sizing: border-box;
    padding-top: 38px;
    padding-bottom: 53px;
    font-family: 'Lato-Regular', sans-serif;
    color: #fff;

    a {
        color: #fff;
    }

    .brend-link-box {
        width: 32.83%;
        min-width: 417px;
        float: left; 
        text-align: justify;
        text-align-last: justify; 
        font-size: 0;
        
        .brend-link_wr{
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            padding-right: 15px;
            .brend-link { 
                .brend-link__logo {
                    padding-right: 20px;
                }

                .brend-link__text {
                    width: 73px;
                    font-size: 16px;
                    line-height: 28px;

                }
            }
        }
    }
    .contacts-elem{ 
        margin-top: 24px;
        margin-left: 20px;
        
        a{
            color: $text-color;
        }
    }
    
    .footer-menu{
        padding-top: 29px; 
        ul{
            max-width: 342px; 
            margin: 0 auto;
            font-size: 0;
            li{
                display: inline-block;
                width: 50%;
                box-sizing: border-box; 
                
                &:nth-child(2n){
                     padding-left: 29%;
                     
                }
                
                a{
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
    .copyright{
        position: absolute;
        right: 31px;
        bottom: -17px;
        font-size: 16px;
        line-height: 20px;
    }
}
