#header {
    position: relative;
    padding-top: 28px;
    padding-bottom: 118px;

    .large-decor-elem {
        position: absolute;
        top: 0;
        left: 41.2%; 
        width: 1082px;
        height: 917px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;

        &.large-decor-elem__pet {
            background-image: url(img/pet.png);
        }
        &.large-decor-elem__kids {
            background-image: url(img/kids.png);
        }
    }
    .middle-decor-elem{
        position: absolute;
        top: 0;
        right: -4%;
        width: 974px;
        height: 917px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;
        &.middle-decor-elem__FAQ {
            background-image: url(img/FAQ-decor-elem.png);
        }
        &.middle-decor-elem__reviews {
            background-image: url(img/reviews-decor-elem.png);
        }
        &.middle-decor-elem__pd{
            background-image: url(img/pd-decor-elem.png);
        }
        &.middle-decor-elem__contacts{
            background-image: url(img/contacts-decor-elem.png);
        }
    }
    .logo__box-large {
        padding-top: 67.5px;
        font-size: 0;
        margin-bottom: 13px;

        .logo__item {
            display: inline-block;
            vertical-align: top;
            width: 217px;
            height: 217px;
            border-radius: 50%;
            margin-right: 4.1%;
            margin-bottom: 58.5px;
            box-shadow: 0 5px 19px 0px #c8c9ca;

        }
    } 
    .logo__box-small {
        padding-top: 90px;
        margin-bottom: 20px;
        .logo__item {
            display: inline-block;
            vertical-align: top;
            width: 188px;
            height: 188px;
            border-radius: 50%;
            margin-right: 50.5px;
            margin-bottom: 50.5px;
            box-shadow: 0 5px 19px 0px #c8c9ca;
            &:last-child {
                margin-right: 0;
            }

        }
    }

    .header-content {
        width: 50%;

        h1 {
            margin-bottom: 18px;
        }

        h2 {
            color: $active-color-alternative;
            margin-bottom: 6px;
        }

        p {
            max-width: 455px;
            margin-bottom: 18px;
        }

        .btn {
            display: block;
            max-width: 353px;
            margin-top: 41px;
            margin-bottom: 18px;
            line-height: 52px; 
        }
    }

}