.footer{
	padding-top: 58px;
  padding-bottom: 28px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../img/footer-min.jpg);
}
@media screen and (max-width:1440px) {
.footer  {
  padding-bottom: 35px;
}
}
@media screen and (max-width:1280px) {
.footer  {
  padding-bottom: 30px;
}
}
@media screen and (max-width:1024px) {
.footer  {
  padding-top: 50px;
  padding-bottom: 20px;
}
}
@media screen and (max-width:960px) {
.footer  {
  padding-top: 35px;
  padding-bottom: 20px;
}
}
@media screen and (max-width:812px) {
.footer  {
  padding-top: 40px;
  padding-bottom: 5px;
}
}
//====================================================================================================
.footer__row  {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*Левое Меню*/
.footer-block__req div {
	margin-top: 5px;
}
@media screen and (max-width:1500px) {
.footer-block__req div  {

}
}
@media screen and (max-width:1440px) {
.footer-block__req div  {
  margin-left: 0px;
}
}
.footer-left-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 27px;
}
@media screen and (max-width:1280px) {
.footer-left-title  {
  font-size: 18px;
}
}
@media screen and (max-width:1100px) {
.footer-left-title  {
  font-size: 15px;
  margin-bottom: 19.5px;
}
}
@media screen and (max-width:1024px) {
.footer-left-title  {
  font-size: 13px;
   margin-bottom: 19.5px;
}
}
@media screen and (max-width:960px) {
.footer-left-title  {
  line-height: 18px;
   margin-bottom: 16px;
}
}
@media screen and (max-width:812px) {
.footer-left-title  {
  line-height: 18px;
   margin-bottom: 8px;
}
}
@media screen and (max-width:600px) {
.footer-left-title  {
   font-size: 11px;
  line-height: 14px;
   margin-bottom: 11px;
}
}
/*Среднее Меню*/
.footer-menu {
	margin-top: 5px;
  margin-left: 30px;
}
@media screen and (max-width:1280px) {
.footer-menu   {
  margin-left: 50px;
}
}
@media screen and (max-width:960px) {
.footer-menu   {
  margin-left: 80px;
}
}
@media screen and (max-width:812px) {
.footer-menu   {
  margin-left: 55px;
}
}
@media screen and (max-width:600px) {
.footer-menu   {
  margin-left: 25px;
  margin-top: 3px;
}
}

.footer-menu a {
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width:1100px) {
.footer-menu a  {
  font-size: 15px;
}
}
@media screen and (max-width:1024px) {
.footer-menu a  {
  font-size: 13px;
}
}
.footer-menu li {
  margin-bottom: 8.5px;
}
@media screen and (max-width:960px) {
.footer-menu li  {
  margin-bottom: 4px;
}
}
@media screen and (max-width:600px) {
.footer-menu li  {
  font-size: 10px;
  margin-bottom: 6px;
}
}

.footer a:hover {
  text-decoration: underline
}
/*Способ Оплаты*/
.footer-block__pay {
  max-width: 280px;
  margin-right: 41px;
}
@media screen and (max-width:1500px) {
.footer-block__pay  {
  max-width: 280px;
  margin-right: 38px;
}
}
@media screen and (max-width:1280px) {
.footer-block__pay  {
  max-width: 280px;
  margin-left: 15px;
  margin-right: 0px;
}
}
@media screen and (max-width:1100px) {
.footer-block__pay  {
  margin-left: 40px;
  margin-right: 0px;
}
}
@media screen and (max-width:1024px) {
.footer-block__pay  {
  max-width: 250px;
  margin-right: 5px;
}
}
@media screen and (max-width:960px) {
.footer-block__pay  {
  max-width: 250px;
  margin-right: 0px;
}
}
@media screen and (max-width:812px) {
.footer-block__pay  {
  max-width: 250px;
  margin-right: 30px;
}
}
@media screen and (max-width:600px) {
.footer-block__pay  {
  max-width: 250px;
  margin-right: 10px;
  margin-left: 0px;
}
}

/*Заголовок Второго Среднего Меню*/
.footer-block__title {
  font-size: 20px;
  margin-bottom: 80px;
}
@media screen and (max-width:1280px) {
.footer-block__title  {
  font-size: 18px;
}
}
@media screen and (max-width:1100px) {
.footer-block__title  {
  font-size: 15px;
}
}
@media screen and (max-width:1024px) {
.footer-block__title  {
  font-size: 14px;
}
}
@media screen and (max-width:960px) {
.footer-block__title  {
  font-size: 14.5px;
}
}
@media screen and (max-width:600px) {
.footer-block__title  {
  font-size: 13px;
  margin-bottom: 50px;
}
}
/*Параграф Второго Среднего Меню*/
.footer-block__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 27.5px;
  margin-left: 5px;
}
@media screen and (max-width:1280px) {
.footer-block__subtitle  {
  font-size: 18px;
}
}
@media screen and (max-width:1100px) {
.footer-block__subtitle  {
  font-size: 16px;
}
}
@media screen and (max-width:1024px) {
.footer-block__subtitle  {
  font-size: 14px;
}
}
@media screen and (max-width:960px) {
.footer-block__subtitle  {
  font-size: 13px;
  line-height: 16px;
}
}
@media screen and (max-width:600px) {
.footer-block__subtitle  {
  font-size: 11px;
  line-height: 16px;
  margin-left: 2px;
}
}

/*Правое Меню Контакты*/
.footer-block__contacts {
  margin-top: 5px;
}
.footer-block__contacts p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}
@media screen and (max-width:1280px) {
.footer-block__contacts p  {
  font-size: 18px;
}
}
@media screen and (max-width:1100px) {
.footer-block__contacts p  {
  font-size: 15px;
}
}
@media screen and (max-width:1024px) {
.footer-block__contacts p  {
  font-size: 14px;
}
}
@media screen and (max-width:960px) {
.footer-block__contacts p  {
  font-size: 13px;
  line-height: 16px;
}
}
@media screen and (max-width:600px) {
.footer-block__contacts p  {
  font-size: 12.5px;
  line-height: 16px;
}
}
/*Телефон*/
.footer-phone {
  display: block;
  font-size: 33px;
  margin-top: 35px;
  margin-bottom: 25px;
}
@media screen and (max-width:1280px) {
.footer-phone  {
  font-size: 30px;
}
}
@media screen and (max-width:1100px) {
.footer-phone  {
  font-size: 25px;
}
}
@media screen and (max-width:1024px) {
.footer-phone  {
  font-size: 23px;
}
}
@media screen and (max-width:960px) {
.footer-phone  {
  font-size: 21px;
}
}
@media screen and (max-width:600px) {
.footer-phone  {
  font-size: 18px;
}
}







//====================================================================================================

