$active-color: #EB4125;
$active-color-alternative: #EE798A;
$bg-color: #EDEEEF;
$text-color: #1A1718;
$element-color: #ffffff;
$field-color: #E0E1E3; //цвет для input и подобных элементов
$box-shadow: 0 22px 18px -15px #c8c9ca;
$box-shadow-hide: 0 22px 18px -15px transparent;
//$box-shadow-hide: 0 0px 0px -0px #c8c9ca;
$decor-line: 3px solid #707070; //декоративная линия

@import 'scss/fonts';
@import 'scss/global';
@import 'scss/jquery.fancybox';
@import 'scss/common';
@import 'scss/header';
@import 'scss/footer';
@import 'scss/elements';
@import 'scss/catalog';
@import 'scss/little-almi';
@import 'scss/FAQ-page';
@import 'scss/reviews';
@import 'scss/payment-and-delivery';
@import 'scss/contacts';
@import 'scss/adaptive';